include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include qlip_bussines_theme *.css
recursive-include qlip_bussines_theme *.csv
recursive-include qlip_bussines_theme *.html
recursive-include qlip_bussines_theme *.ico
recursive-include qlip_bussines_theme *.js
recursive-include qlip_bussines_theme *.json
recursive-include qlip_bussines_theme *.md
recursive-include qlip_bussines_theme *.png
recursive-include qlip_bussines_theme *.py
recursive-include qlip_bussines_theme *.svg
recursive-include qlip_bussines_theme *.txt
recursive-exclude qlip_bussines_theme *.pyc