/* CHECKBOX */
input[type='checkbox']:before {
  font-size: 20px;
  color: #707070;
}

input[type='checkbox']:checked::before {
  font-size: 20px;
  color: #1e6491;
}

input[type='checkbox']:hover::before {
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 10px 7px rgb(227, 227, 227);
}

input[type='checkbox']:checked:hover::before {
  color: #1e6491;
  box-shadow: 0px 0px 10px 7px rgb(210, 222, 229);
}
/* END CHECKBOX */

/* LINKS */
a.link-content,
a.dropdown-toggle {
  color: #5d5d5d;
}

/* END LINKS */

/* BLUR */
.modal-open .modal {
  backdrop-filter: blur(9px);
}

.modal {
  backdrop-filter: blur(9px);
}

.modal-backdrop {
  background-color: #1e6491;
}

.modal-open .modal-backdrop.in {
  opacity: 0.7;
  filter: brightness(0.5);
}

.modal .modal-backdrop.in {
  opacity: 0.7;
  filter: brightness(0.5);
}
/* END BLUR */

/* BUTTON */
.btn {
  border-radius: 4px;
}
.btn:focus,
.btn:active:focus {
  outline: none;
  outline-offset: unset;
}

.btn-primary {
  background: transparent linear-gradient(180deg, #10397d 0%, #0f3249 100%);
  border-color: transparent;
}
.btn-primary:hover {
  background: transparent linear-gradient(178deg, #1e6491 0%, #0f3249 100%);
  border-color: transparent;
}

.btn-primary:active,
.btn-primary:focus {
  background: transparent linear-gradient(178deg, #1e6491 0%, #296a95 100%);
  border-color: transparent;
}

.btn-secondary,
.btn-default.btn-sm {
  color: #fff;
  background: transparent linear-gradient(180deg, #9ee1da 0%, #65c8bd 100%);
}
.btn-secondary:hover,
.btn-default.btn-sm:hover {
  color: #fff;
  background: transparent linear-gradient(182deg, #9ee1da 0%, #39aa9e 100%);
  border-color: transparent;
}

.btn-secondary:active,
.btn-secondary:focus,
.btn-default.btn-sm:active,
.btn-default.btn-sm:focus {
  color: #fff;
  background: transparent linear-gradient(182deg, #3cb9ac 0%, #2d8b81 100%);
  border-color: transparent;
}

.btn-primary.disabled,
.btn-primary:disabled,
.btn-secondary.disabled,
.btn-secondary:disabled,
.btn-default.btn-sm.disabled,
.btn-default.btn-sm:disabled {
  background: transparent linear-gradient(178deg, #e8e8e8 0%, #bbbbbb 100%);
  border-color: transparent;
}

.btn-default.btn-sm.btn-paging.btn-info {
  color: #fff;
  background: #8d99a6;
  border-color: #7f8c9b;
}
.btn-default.btn-sm.btn-paging {
  color: inherit;
  background: #f0f4f7;
  border-color: transparent;
}

/* END BUTTON */

/* HEADER */

/* Ajustes para resoluciones entre 992px - 1199px */
@media (min-width: 992px) and (max-width: 1199px){
  .qlip-company a.navbar-brand {
    padding-top: 0;
  }

  .qlip-navbar .page-switcher {
    width: 100px;
    padding: 0;
  }

  .navbar .navbar-home img {
    margin-top: -8px;
  }

  .qlip-navbar .navbar-header {
    width: 490px;
  }

  .qlip-navbar .navbar-brand {
    margin-right: 22.5px;
  }

  .qlip-navbar .navbar-page-switcher {
    margin-right: 22.5px;
  }

  .qlip-navbar .awesomplete {
    width: 210px;
    min-width: 210px; 
    max-width: 210px;
  }

  .qlip-navbar #navbar-search {
    width: 210px;
    min-width: 210px; 
    max-width: 210px;
  }

  .qlip-company {
    max-height: inherit;
    max-width: 135px;  
    width: 135px;
    min-width: 135px;
  }

  .qlip-company a.navbar-brand {
    max-width: 150px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
/* End Ajustes para resoluciones entre 992px - 1199px */

/* Ajustes para resoluciones superiores a 1200px */
@media (min-width: 1200px) {
  .qlip-navbar #navbar-search {
    width: 268px;
    min-width: 268px;
    max-width: 268px;
  }
  
  .qlip-navbar .awesomplete {
    width: 268px;
    min-width: 268px;
    max-width: 268px;
  }

  .qlip-navbar .navbar-header {
    width: 615px;
  }

  .qlip-navbar .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: 0;
  }

  .qlip-navbar .nav.navbar-nav.navbar-right {
    margin-right: -60px;
  }

  .qlip-navbar .navbar-brand {
    float: none;
    padding: 0;
    padding-left: 15px;
    margin-right: 50px;
  }

  .qlip-navbar .navbar-page-switcher {
    margin-right: 35px;
  }

  .qlip-company {
    max-height: 30px;
    max-width: 160px;  
    width: 160px;
    min-width: 160px;
  }

  .qlip-navbar .page-switcher {
    width: 160px;
    padding: 0;
  }
}
/* End Ajustes para resoluciones superiores a 1199px */


body.no-breadcrumbs .navbar .navbar-home:before {
  display: none;
}

.qlip-navbar {
  padding-top: 18px;
  padding-bottom: 18px;
}

.qlip-navbar .container {
  padding-left: 0;
  padding-right: 0;
}

.qlip-navbar.navbar-default {
  background: #ffffff;
  box-shadow: 0px 7px 21px #00000029;
  border-radius: 0px 0px 10px 10px;
  opacity: 1;
  border-color: transparent;
}

.qlip-navbar .page-switcher {
  margin-bottom: 0;
  border: 0;
  background-color: white;
  cursor: pointer;
}

.qlip-navbar .page-switcher .current-title {
  color: #505050;
  margin-right: 10px;
  max-width: 160px;
  width: 160px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
}

.qlip-navbar .desk-container .mobile-list .sidebar-item {
  color: #707070;
  font-weight: normal;
}

.qlip-navbar .page-switcher .fa.fa-caret-down.text-muted {
  color: #042172 !important;
  font-size: 24px;
}

.qlip-navbar img {
  vertical-align: bottom;
}

.qlip-navbar .navbar-form {
  margin-top: 0;
  margin-bottom: 0;
}

.qlip-navbar .app-logo-empresa img {
  margin-top: 5px;
  vertical-align: bottom;
  width: 32px;
  margin-right: 3px;
}

.navbar {
  display: flex;
  align-items: center;
}

.page-head {
  top: 81px;
}

.page-head {
  top: 81px;
  padding-top: 50px;
  height: 120px;
}

.page-container {
  margin-top: 80px;
}

#page-desktop {
  margin-top: 2%;
}
.desk-container .desk-sidebar {
  top: 80px;
}

#page-desktop {
  margin-top: 2%;
}

.navbar .navbar-home img {
  min-width: 180px;
}

@media (max-width: 1199px) {
  .navbar > .container .navbar-brand.app-logo-empresa {
    margin-left: 0;
    margin-right: 0;
  }
}

.qlip-company {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.qlip-company a.navbar-brand {
    font-size: 10pt;
    font-weight: normal;
    vertical-align: super;
    color: #1E6491;
    padding-left: 0;
    margin-left: 0px !important;
}
 
/* xs, sm*/
@media (max-width: 991px) {
  .qlip-icon {
    width: 12px;
    height: 12px;
  }

  .qlip-navbar > .container .navbar-brand {
    padding: 0 !important;
    height: 0 !important; 
    /* width: 0 !important; */
    margin-right: 120px !important;
    margin-top: 0.5rem !important;
  }

  .qlip-navbar > .container .navbar-brand.toggle-sidebar {
    margin-right: 180px !important;
  }

  .qlip-navbar > .container .navbar-brand.toggle-sidebar .octicon.octicon-three-bars {
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0px 0px 20px #00000017;
    margin-top: 0;
  }

  .qlip-navbar .desk-container .mobile-list {
    left: 5%;
    width: 90%;
    top: 80px;
}

  .app-icon-chat {
    padding: 0;
    width: 12px;
    height: 12px;
  }    

  .qlip-navbar .navbar-search-button .octicon {
    font: normal normal normal 12px/1 octicons;
  }

  .configuration, .notification {
    margin-right: 0;
  }

  .qlip-navbar img {
    vertical-align: middle;
  }

  .qlip-navbar .dropdown-notifications .notifications-icon {
    padding-top: 8px;
  }

  .qlip-navbar .desk-container {
    display: block;
    margin-top: 0;
  }

  .qlip-navbar .navbar-page-switcher {
    margin-right: 0;
  }

  .qlip-navbar .page-switcher {
    width: auto;
    padding: 8px 10px;
    padding-top: 12px;
  }

  .qlip-navbar .qlip-handshake-icon {
    margin-right: 0;
    width: 16px;
  }

  .navbar {
    min-height: 62px;
  }

  .qlip-navbar {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .modal .modal-dialog {
    width: 80%;
  }

  .dropdown-mobile.open .dropdown-menu {
    left: -320px;
  }

  .qlip-navbar .container {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
  }
}
/* End xs, sm*/

/* Sobre lg */
@media (min-width: 992px) {
  .qlip-icon {
    width: 26px;
    height: 26px;
  }

  .app-icon-chat {
    width: 27px;
    height: 29px; 
    padding: 2px 1px 2px 1px;
    margin-right: 1.5rem;
  }

  .configuration, .notification {
    margin-right: 3rem;
  }

  .qlip-navbar .desk-container {
    display: inline;
  }

  .qlip-navbar .qlip-handshake-icon {
    margin-right: 10.19px;
    width: 18px;
  }

  .qlip-navbar .desk-container .mobile-list {
    left: calc(50% - 350px);
  }

  .navbar {
    min-height: 81px;
  }
}
/* End sobre lg */

@media (min-width: 768px) and (max-width: 991px) {
  .qlip-icon {
    width: 16px;
    height: 16px;
  }

  .navbar > .container .navbar-brand {
    padding: 0 !important;
    height: 0 !important; 
    /* width: 0 !important; */
    margin-right: 12rem !important;
    /* margin-top: 1rem !important; */
  }

  .dropdown-mobile {
    margin-right: 1.5rem !important;
  }
}

.li-icon-user {
  color: #dcdcdc;
}

.configuration-movil, .notification-movil {
  margin-right: 0.5rem;
}

/* .chat, .user {
  padding: 8px 10px;
} */

.avatar-small .avatar-frame {
  border-radius: 18px;
  width: 28px;
  height: 28px; 
}

.avatar-small {
  margin-right: 3rem;
  margin-top: 0.5rem;
}

/* .frappe-chat-dropdown {
  margin-top: 0.5rem;
} */

/* HEADER INPUT SEARCH */
#navbar-search {
  font-size: 14px;
  line-height: 16px;
  padding-left: 40px;
  min-height: 42px;
  background: #F9F9F9 0% 0% no-repeat padding-box;
  color: #AEAEAE;
}

.navbar .navbar-search-icon {
  left: 12px;
  z-index: 2;
}
#navbar-search.form-control {
  border: 1px solid #E6E6E6;
  border-radius: 5px;
}
/* HEADER INPUT SEARCH */

/* END HEADER */

/* INPUT TEXT */

.frappe-control {
  margin-bottom: 7%;
}

.floating-label > .floating-input,
.floating-label > .link-field > .awesomplete >.floating-input,
.floating-label > .floating-select  {
  color: #9C9EA2 !important;
  font-weight: normal;
  font-size: 12px;
  line-height: 34px;
  border-radius: 10px;
  border: 1px solid #707070;
  min-height: 36px;
  
}

 .floating-label > .floating-input::placeholder,
 .floating-label > .link-field > .awesomplete > .floating-input::placeholder
{
  color: transparent; 
  
}

.floating-label > .floating-input:focus,
.floating-label >.floating-input:hover,
.floating-label > .link-field > .awesomplete > .floating-input:focus,
.floating-label > .link-field > .awesomplete > .floating-input:hover,
.floating-label > .floating-select:focus,
.floating-label > .floating-select:hover
{
  
  border: 1px solid #1E6491; 
}
 .floating-label > .floating-input:focus::placeholder,
 .floating-label > .link-field > .awesomplete > .floating-input:focus::placeholder{

  color: #b8c2cb;

}

.floating-label > .floating-input:disabled,
.floating-label > .link-field > .awesomplete > .floating-input:disabled ,
.floating-label > .floating-select:disabled  {
  
  border: 1px solid #CFCFCF;
}

.has-error  .floating-label > .floating-input,
.has-error  .floating-label > .link-field > .awesomplete > .floating-input  {
  
  border: 1px solid #FF5353 !important ;
}

.floating-input ~ label,
.link-field > .awesomplete > .floating-input ~ label,
.floating-select ~ label
{
  color: #1E6491; 
  font-size: 12px;
  line-height: 34px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left: 2em;
  top: -0.015em;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

.floating-label > .floating-input:focus ~ label,
.floating-label > .floating-input:not(:placeholder-shown) ~ label,
.floating-label > .link-field > .awesomplete > .floating-input:focus ~ label,
.floating-label > .link-field > .awesomplete > .floating-input:not(:placeholder-shown) ~ label,
.floating-label > .floating-select:focus ~ label,
.floating-label > .floating-select:not([value=""]):valid ~ label{ 
    top: -12px;
    left: 15px;
    font-size: 10px;
    line-height: 20px;
    color: #1E6491; 
    background-color: #fff;
    padding: .2em;
    padding-left: 0.5em;
    padding-right: 3em !important;
}

/* Específico para Control Int, Float, Currency, Date, Time, Percent*/
.floating-input[data-fieldtype="Float"] ~ label,
.floating-input[data-fieldtype="Currency"] ~ label,
.floating-input[data-fieldtype="Date"] ~ label,
.floating-input[data-fieldtype="Int"] ~ label,
.floating-input[data-fieldtype="Time"] ~ label,
.floating-input[data-fieldtype="Percent"] ~ label {
  top: auto;
  left: 3.5em;
  margin-top: -3em;
}
.floating-label > .floating-input:focus[data-fieldtype="Float"] ~ label,
.floating-label > .floating-input:not(:placeholder-shown)[data-fieldtype="Float"] ~ label,
.floating-label > .floating-input:focus[data-fieldtype="Currency"] ~ label,
.floating-label > .floating-input:not(:placeholder-shown)[data-fieldtype="Currency"] ~ label,
.floating-label > .floating-input:focus[data-fieldtype="Date"] ~ label,
.floating-label > .floating-input:not(:placeholder-shown)[data-fieldtype="Date"] ~ label,
.floating-label > .floating-input:focus[data-fieldtype="Int"] ~ label,
.floating-label > .floating-input:not(:placeholder-shown)[data-fieldtype="Int"] ~ label,
.floating-label > .floating-input:focus[data-fieldtype="Time"] ~ label,
.floating-label > .floating-input:not(:placeholder-shown)[data-fieldtype="Time"] ~ label,
.floating-label > .floating-input:focus[data-fieldtype="Percent"] ~ label,
.floating-label > .floating-input:not(:placeholder-shown)[data-fieldtype="Percent"] ~ label {
  top: auto;
  left: 30px;
  margin-top: -4.8em;
}

/* Justificar a la derecha Int, Float, Currency */
.floating-input[data-fieldtype="Float"],
.floating-input[data-fieldtype="Currency"],
.floating-input[data-fieldtype="Int"] {
  text-align: right;
}

.frappe-control[data-fieldtype="Float"] .control-value.like-disabled-input,
.frappe-control[data-fieldtype="Currency"] .control-value.like-disabled-input,
.frappe-control[data-fieldtype="Int"] .control-value.like-disabled-input{
  text-align: right;
}
/* End Justificar a la derecha Int, Float, Currency */


/* End Especifico para Control Int, Float, Currency, Date, Time*/

/* Específico para Control Read Only */
.control-value.like-disabled-input {
  border-radius: 10px;
  border: 1px solid #707070;
  min-height: 36px;
  padding-top: 8px;
  padding-bottom: 2px;
}

.control-value.like-disabled-input ~ label {
  color: #1E6491;
  font-size: 12px;
  line-height: 34px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
  padding: .2em;
  padding-left: 0.5em;
  padding-right: 3em !important;
  background-color: #fff;
}

.control-value.like-disabled-input:empty ~ label {
  top: auto;
  left: 3em;
  margin-top: -3.5em;
  background-color: transparent;
}

.control-value.like-disabled-input:not(:empty) ~ label{
  top: auto;
  left: 30px;
  margin-top: -4.5em;
  font-size: 10px;
  line-height: 0;
   
}
/* End Específico para Control Read Only*/
.floating-label > .floating-input:disabled ~ label,
.floating-label > .link-field > .awesomplete > .floating-input:disabled ~ label,
.floating-label > .floating-select:disabled ~ label 
{
  color: #CFCFCF;
  
} 

.has-error .floating-label > .floating-input:focus ~ label,
.has-error .floating-label > .floating-input:not(:placeholder-shown) ~ label,
.has-error .floating-label > .link-field > .awesomplete > .floating-input:focus ~ label, 
.has-error .floating-label > .link-field > .awesomplete > .floating-input:not(:placeholder-shown) ~ label  {
  color: #FF5353;
} 

.frappe-control .help-box {
   color: #C4C0C0 !important;
}

.frappe-control[data-fieldtype="Select"] .control-input .octicon-chevron-down {
  top: 12px;
}

.list-filters .floating-label .floating-input{
  border: 1px solid #CFCFCF;
  border-radius: 3px;
  min-height: 26px;
  
}
.list-filters .floating-label > .floating-input::placeholder{
  color: #b8c2cb;
}
.list-filters .floating-label > .floating-input ~ label{
  top: -25px;
  left: 1px;
  color: #8d99a6;
  font-size: 12px;
  line-height: 34px;
  background-color: transparent;
  padding: initial;
}

.list-filters .floating-label > .floating-input:focus ~ label{
 
  padding: initial;
}

/* END INPUT TEXT */


/* MODAL */
.modal-title{
  
  font-size: 24px;
  line-height: 29px;
  color: #1E6491;
}
.btn-modal-close, .btn-modal-close:hover, .btn-modal-close:active, .btn-modal-close:focus{
  background: #FFFFFF !important;;
  color: #0F3249 !important;
  border-color: transparent;
}

.modal-dialog .modal-content .modal-header{
  margin: 27px 33px 0px 33px;
}

.modal-dialog .modal-content .modal-body {
  margin: 0px 33px 10px 33px;
}
/* END MODAL */


/* BULLET */
.indicator.green::before, .indicator-right.green::after {
  background: #00D215;
}
.indicator.blue::before, .indicator-right.blue::after {
  background: #0B6DDC;
}
/* END BULLET */


/* FILTROS */
.page-form{
  background: #F2F6F8;
  border: 1px solid #CFCFCF;
  
}
/*
.page-form input[type]:not([type='button']):not([type='checkbox']):not([type='range']):not([type='submit']).form-control,
.page-form input[type]:not([type='button']):not([type='checkbox']):not([type='range']):not([type='submit']).form-control:hover,
.page-form input[type]:not([type='button']):not([type='checkbox']):not([type='range']):not([type='submit']).form-control:focus{
  border: 1px solid #CFCFCF;
  border-radius: 3px;
}*/

.add-filter{
   
  background: transparent linear-gradient(180deg, #10397D 0%, #082453 100%);
  border-radius: 2px;
  color: #FFFFFF!important;
  font-size: 8px;
  line-height: 11px;
  padding: 7px 21px;
}

.tooltip-inner {
  background-color: #404040 !important;
}
.tooltip.top .tooltip-arrow {
  border-width: inherit;
}
.tooltip {
  font-size: 11px;
}

/*
.awesomplete input[type]:not([type='button']):not([type='checkbox']):not([type='range']):not([type='submit']).form-control,
.awesomplete input[type]:not([type='button']):not([type='checkbox']):not([type='range']):not([type='submit']).form-control:hover,
.awesomplete input[type]:not([type='button']):not([type='checkbox']):not([type='range']):not([type='submit']).form-control:focus{
  border: 1px solid #CFCFCF;
  border-radius: 3px;
}*/

/*
.input-area input[type]:not([type='button']):not([type='checkbox']):not([type='range']):not([type='submit']).form-control,
.input-area input[type]:not([type='button']):not([type='checkbox']):not([type='range']):not([type='submit']).form-control:hover,
.input-area input[type]:not([type='button']):not([type='checkbox']):not([type='range']):not([type='submit']).form-control:focus{
  border: 1px solid #CFCFCF;
  border-radius: 3px;
}*/

/* END FILTROS */


/* TABLE */
.list-subject .level-item {
  margin-right: 35px !important;
}

.level-left, .list-header-subject {
  color: #2F1335 !important;
  font-size: 14px !important;/*cambio*/
  line-height: 16px !important;/*cambio*/
}
span.level-item.ellipsis{
  color:#484848;
  font-size: 12px;
}
.indicator, .indicator-right {
  font-weight: normal;
  color:#484848;
}
.list-row-head {
  background-color: #F2F6F8 !important;
  border-bottom: 1px solid #DEDEDE !important;
}
/*Cambio*/
/* .octicon-primitive-dot:before {
  font: normal normal normal 30px/1 octicons;
   color: #1E6491;
} */

.layout-main-section {
  border: 1px solid #DEDEDE;
  border-left: 0;
  border-right: 0;
}

/* END TABLE */


/* TAGS */
.toggle-tag {
  background-color: #E1E4E8;
  border-radius: 15px;
  font-size: 14px;
  color: #606060;
  height: 30px;
}

.remove-tag {
  background-color: #E1E4E8;
  border-radius: 15px;
  font-size: 14px;
  height: 30px;
}

.remove-tag .fa-times-circle {
  width: 14px;
  height: 14px;
}

.remove-tag .text-muted {
  color: #676767 !important;
}

.tags-list-item .btn-group:hover .btn-default{
  background-color: #EEEEEE;
}
/* END TAGS */


/* ARBOL DE TRAZABILIDAD */
.timeline::before {
  
  border-left: 1px solid #1E6491 !important;
}

.timeline-item.notification-content::before {
 
  width: 10px;
  height: 10px;
  background-color: #1E6491 !important;
  left: 39px;
 }

.timeline-new-email::before, .timeline-email-import::before {
  width: 10px;
  height: 10px;
  background-color: #1E6491 !important;
  left: 39px;
}

.standard-image {
 
  border: 1px solid #1E6491 !important;
 
}

.timeline-head {
  border: 0;
}

.comment-input-header {
  border: 1px solid #C5C5C5;
  background: #FAFBFC;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.comment-input-container{
  border: 1px solid #C5C5C5;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.ql-bubble .ql-editor {
  border: 1px solid #C5C5C5;
  border-radius: 8px;
}

.btn-comment {
  background-color: #10397D;
  color: #ffff;
  font-size: 12px;
  padding: revert;
}

.timeline-item[data-communication-type="Comment"] .reply {
  background-color: #EEF4FF;
}

/* END ARBOL DE TRAZABILIDAD */


/* CARD MODULES */
.shortcut-widget-box {
  box-shadow: 0px 0px 10px #00000029;/*cambio*/
  border-radius: 10px;
  border: 0;
  min-height: 69px;
}
.widget-title {
  font-size: 14px;
  font-weight: bold;
  line-height: 1em;
  color: #707070;
  margin-top: 0.5em;
  margin-left: 1.5em;
  margin-right: 1.5em;
}

.widget-title div{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  vertical-align: middle;
}

.links-widget-box {
  box-shadow: 0px 0px 10px #00000029;/*cambio*/
  border-radius: 10px;
}
.links-widget-box .widget-head .widget-title {
  margin-left: 1.7em;/*cambio*/
  font-size: 1em;
  line-height: 1.188em;
  margin-top: 1.8em;/*cambio*/
} 
/*cambio de aqui para abajo nuevo*/
.links-widget-box .widget-body{
  margin-left: 1.7em;

}
.widget.links-widget-box .link-item {
   margin: 22px 0px;
 }
 .widget.links-widget-box .link-item:first-child {
  margin-top: 25px;
}
.widget.links-widget-box .link-item:last-child {
  margin-bottom: 25px !important;
} 
/* END CARD MODULES */

/* FONT */

@font-face {
  font-family: 'Gotham Rounded Book';
  src: url('/assets/qlip_bussines_theme/css/fonts/gotham-rounded/GothamRounded-Book.eot');
  src: url('/assets/qlip_bussines_theme/css/fonts/gotham-rounded/GothamRounded-Book.eot?#iefix') format('embedded-opentype'),
      url('/assets/qlip_bussines_theme/css/fonts/gotham-rounded/GothamRounded-Book.woff2') format('woff2'),
      url('/assets/qlip_bussines_theme/css/fonts/gotham-rounded/GothamRounded-Book.woff') format('woff'),
      url('/assets/qlip_bussines_theme/css/fonts/gotham-rounded/GothamRounded-Book.ttf') format('truetype'),
      url('/assets/qlip_bussines_theme/css/fonts/gotham-rounded/GothamRounded-Book.svg#GothamRounded-Book') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham Rounded Book';
  src: url('/assets/qlip_bussines_theme/css/fonts/gotham-rounded/GothamRounded-BookItalic.eot');
  src: url('/assets/qlip_bussines_theme/css/fonts/gotham-rounded/GothamRounded-BookItalic.eot?#iefix') format('embedded-opentype'),
      url('/assets/qlip_bussines_theme/css/fonts/gotham-rounded/GothamRounded-BookItalic.woff2') format('woff2'),
      url('/assets/qlip_bussines_theme/css/fonts/gotham-rounded/GothamRounded-BookItalic.woff') format('woff'),
      url('/assets/qlip_bussines_theme/css/fonts/gotham-rounded/GothamRounded-BookItalic.ttf') format('truetype'),
      url('/assets/qlip_bussines_theme/css/fonts/gotham-rounded/GothamRounded-BookItalic.svg#GothamRounded-BookItalic') format('svg');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham Rounded';
  src: url('/assets/qlip_bussines_theme/css/fonts/gotham-rounded/GothamRounded-Medium.eot');
  src: url('/assets/qlip_bussines_theme/css/fonts/gotham-rounded/GothamRounded-Medium.eot?#iefix') format('embedded-opentype'),
      url('/assets/qlip_bussines_theme/css/fonts/gotham-rounded/GothamRounded-Medium.woff2') format('woff2'),
      url('/assets/qlip_bussines_theme/css/fonts/gotham-rounded/GothamRounded-Medium.woff') format('woff'),
      url('/assets/qlip_bussines_theme/css/fonts/gotham-rounded/GothamRounded-Medium.ttf') format('truetype'),
      url('/assets/qlip_bussines_theme/css/fonts/gotham-rounded/GothamRounded-Medium.svg#GothamRounded-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham Rounded';
  src: url('/assets/qlip_bussines_theme/css/fonts/gotham-rounded/GothamRounded-Bold.eot');
  src: url('/assets/qlip_bussines_theme/css/fonts/gotham-rounded/GothamRounded-Bold.eot?#iefix') format('embedded-opentype'),
      url('/assets/qlip_bussines_theme/css/fonts/gotham-rounded/GothamRounded-Bold.woff2') format('woff2'),
      url('/assets/qlip_bussines_theme/css/fonts/gotham-rounded/GothamRounded-Bold.woff') format('woff'),
      url('/assets/qlip_bussines_theme/css/fonts/gotham-rounded/GothamRounded-Bold.ttf') format('truetype'),
      url('/assets/qlip_bussines_theme/css/fonts/gotham-rounded/GothamRounded-Bold.svg#GothamRounded-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham Rounded';
  src: url('/assets/qlip_bussines_theme/css/fonts/gotham-rounded/GothamRounded-BoldItalic.eot');
  src: url('/assets/qlip_bussines_theme/css/fonts/gotham-rounded/GothamRounded-BoldItalic.eot?#iefix') format('embedded-opentype'),
      url('/assets/qlip_bussines_theme/css/fonts/gotham-rounded/GothamRounded-BoldItalic.woff2') format('woff2'),
      url('/assets/qlip_bussines_theme/css/fonts/gotham-rounded/GothamRounded-BoldItalic.woff') format('woff'),
      url('/assets/qlip_bussines_theme/css/fonts/gotham-rounded/GothamRounded-BoldItalic.ttf') format('truetype'),
      url('/assets/qlip_bussines_theme/css/fonts/gotham-rounded/GothamRounded-BoldItalic.svg#GothamRounded-BoldItalic') format('svg');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham Rounded';
  src: url('/assets/qlip_bussines_theme/css/fonts/gotham-rounded/GothamRounded-LightItalic.eot');
  src: url('/assets/qlip_bussines_theme/css/fonts/gotham-rounded/GothamRounded-LightItalic.eot?#iefix') format('embedded-opentype'),
      url('/assets/qlip_bussines_theme/css/fonts/gotham-rounded/GothamRounded-LightItalic.woff2') format('woff2'),
      url('/assets/qlip_bussines_theme/css/fonts/gotham-rounded/GothamRounded-LightItalic.woff') format('woff'),
      url('/assets/qlip_bussines_theme/css/fonts/gotham-rounded/GothamRounded-LightItalic.ttf') format('truetype'),
      url('/assets/qlip_bussines_theme/css/fonts/gotham-rounded/GothamRounded-LightItalic.svg#GothamRounded-LightItalic') format('svg');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham Rounded';
  src: url('/assets/qlip_bussines_theme/css/fonts/gotham-rounded/GothamRounded-Light.eot');
  src: url('/assets/qlip_bussines_theme/css/fonts/gotham-rounded/GothamRounded-Light.eot?#iefix') format('embedded-opentype'),
      url('/assets/qlip_bussines_theme/css/fonts/gotham-rounded/GothamRounded-Light.woff2') format('woff2'),
      url('/assets/qlip_bussines_theme/css/fonts/gotham-rounded/GothamRounded-Light.woff') format('woff'),
      url('/assets/qlip_bussines_theme/css/fonts/gotham-rounded/GothamRounded-Light.ttf') format('truetype'),
      url('/assets/qlip_bussines_theme/css/fonts/gotham-rounded/GothamRounded-Light.svg#GothamRounded-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham Rounded';
  src: url('/assets/qlip_bussines_theme/css/fonts/gotham-rounded/GothamRounded-MediumItalic.eot');
  src: url('/assets/qlip_bussines_theme/css/fonts/gotham-rounded/GothamRounded-MediumItalic.eot?#iefix') format('embedded-opentype'),
      url('/assets/qlip_bussines_theme/css/fonts/gotham-rounded/GothamRounded-MediumItalic.woff2') format('woff2'),
      url('/assets/qlip_bussines_theme/css/fonts/gotham-rounded/GothamRounded-MediumItalic.woff') format('woff'),
      url('/assets/qlip_bussines_theme/css/fonts/gotham-rounded/GothamRounded-MediumItalic.ttf') format('truetype'),
      url('/assets/qlip_bussines_theme/css/fonts/gotham-rounded/GothamRounded-MediumItalic.svg#GothamRounded-MediumItalic') format('svg');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

body {
  font-family: "Gotham Rounded", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.popover {
  font-family: "Gotham Rounded", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

/* END FONT */

/* PERFIL DE USUARIO */
.avatar-frame {
  border-radius: 180px;
}

.user-image-container .standard-image {
  border-radius: 180px;
}

.fa-camera-retro:before {
  font-size: smaller;
  color: #8d99a6;
}

.form-name-user{
  margin-top: 20px;
  color: #1E6491;
  font-size: 24px;
  line-height: 37px;
  overflow: hidden;
  max-width: 150px;
  margin-left: auto;
  margin-right: auto;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.icon-foto{
  margin-top: 10px;
  background: #FFFFFF;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 5px;
  padding: 5px 20px;
  max-width: 153px;
  text-align: center;
  max-height: 35px;
  overflow: hidden;
  margin-right: auto;
  margin-left: auto;
}

.icon-foto > span {
  font-size: 12px;
  line-height: 12px;
  color: #7B7B7B;
}
/* END PERFIL DE USUARIO */


/* PERFIL DE FOTO DE USUARIOS */
.form-sidebar .sidebar-image-section .sidebar-image, 
.form-sidebar .sidebar-image-section .sidebar-standard-image {
  border-radius: 180px;
  background-size: cover;
}

.form-sidebar .sidebar-image-section .standard-image {
  border-radius: 180px;
  overflow: hidden;
}

.form-sidebar .sidebar-image-section .standard-image img {
  margin-top: -9rem;
  margin-right: -1.5rem;
}

.fa-camera-retro:before {
    font-size: smaller;
    color: #8d99a6;
}

.icon-foto-b{
    margin-top: 10px;
    background: #FFFFFF;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 5px;
    padding: 5px 20px;
    max-width: 153px;
    text-align: center;
    max-height: 35px;
    overflow: hidden;
    margin-right: auto;
    margin-left: auto;
}

.icon-foto-b > span {
  font-size: 12px;
  line-height: 12px;
  color: #7B7B7B;
}

.form-name-user-b{
  text-align: center;
  margin-top: 20px;
  color: #1E6491;
  font-size: 24px;
  line-height: 37px;
  overflow: hidden;
  max-width: 150px;
  margin-left: auto;
  margin-right: auto;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.form-sidebar .sidebar-image-section .sidebar-image-wrapper:hover .sidebar-image,
.form-sidebar .sidebar-image-section .sidebar-image-wrapper:hover .sidebar-standard-image {
  opacity: 1
}

.form-sidebar .sidebar-image-section {
  cursor: unset;
}
/***END PERFIL DE FOTO DE USUARIOS***/

/* DROPDOWN SEARCH */
#navbar-search ~ ul > li > a > p > span{
  font-size: 1.25em;
  line-height: 1.5em;
  color: #414141;
  margin-left: 40px;
  
}

#navbar-search ~ ul#awesomplete_list_1{
  border-radius: 0px 0px 12px 12px;
  background: #FFFFFF;
  box-shadow: 0px 7px 13px #00000029;
} 
/* END DROPDOWN SEARCH */

/*  ESTRUCTURA DE CARPETAS */
.tree .tree-link .tree-label {
  padding-left: 10px;
}

.tree .tree-link.active i {
  color: #1E6491;
}

.tree .tree-link.active a {
  color: #1E6491;
  text-decoration: none;
}

.tree .tree-link i {
  color: #9C9EA2;
}

.tree .tree-link a {
  color: #9C9EA2;
  text-decoration: none;
}

.tree .tree-link .node-leaf {
  color: #9C9EA2;
}

.tree .fa-circle {
  font-size: 5px;
  vertical-align: 3px;
}

.tree .fa-folder:before {
  font: normal normal normal 21px/1 FontAwesome;  
}

.tree .fa-folder-open {
  font: normal normal normal 21px/1 FontAwesome;  
}

.tree.with-skeleton.opened::before{
  top: 41px;
}

.tree.with-skeleton .tree-node.opened::before{
  top: 20px;
}
/* END ESTRUCTURA DE CARPETAS */


/* BREADCRUMS */

#navbar-breadcrumbs > li:not(:last-child) > a {
  color: #1E6491;
}

#navbar-breadcrumbs > li:last-child > a {
  color: #9C9EA2;
}

#navbar-breadcrumbs > li:first-child > a:before {
  display: none;
} 

#navbar-breadcrumbs > li > a:before {
  color: #707070;
}

#navbar-breadcrumbs > li:first-child > a {
  padding-top: 9px;
}

.breadcrumbs-navbar{
  position: fixed;
  z-index: 150;
  top: 110px;
}

@media (min-width: 1200px) {
  .breadcrumbs-navbar{
    width: 1170px;
    margin-right: -585px;
    right: 50%;
  }
}

@media (min-width: 1199px){
  body.full-width .breadcrumbs-navbar{
    width: 90%;
    margin-right: -45%;
    right: 50%;
  }
}

.page-content {
  margin-top: 120px;
}

/* END BREADCRUMS*/


/* POPUP */
.msgprint-dialog .modal-header-orange {
  border-bottom: 1px solid #FFCE09;
}

.msgprint-dialog .modal-header-red {
  border-bottom: 1px solid #FF5353;
}

.msgprint-dialog .modal-header-blue {
  border-bottom: 1px solid #1E6491;
}

.msgprint-dialog .modal-header-orange .modal-title {
  color: #FFCE09;
}

.msgprint-dialog .modal-header-red .modal-title {
  color: #FF5353;
}

.msgprint-dialog .modal-header-blue .modal-title {
  color: #1E6491;
}

.msgprint-dialog-icon {
  background-image: url("/assets/qlip_bussines_theme/icons/qlip-popup-icon.svg");
  display: block;
  width: 38px;
  min-width: 38px;
  max-width: 38px;
  background-position: left;
  background-repeat: no-repeat;
  padding-right: 1rem;
}

.msgprint-dialog .modal-header {
  padding-left: 0;
}

/* END POPUP */

/* TOASTER */

#alert-container .desk-alert .alert-message{
  padding: 10px 40px 10px 21px

}

#alert-container .desk-alert .close {
  position: absolute;
  right: 45px;
  color: #404040;
  top: 40%;
  font-size: 20px;
}

#alert-container .desk-alert {
  box-shadow: 0px 3px 6px #00000029;
  max-width: 500px;
  min-width: 459px;
  width: 459px;
  max-height: 200px;
  height: 90px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: none;
  border-radius: 6px;
  /*overflow-y: auto;
  position: relative;
  transform: translateX(calc(100% + 20px));
  transition: transform 300ms ease;
  padding: 0px;*/
  overflow-y: hidden;
}

.alert-message .message {
  position: absolute;
  top: 30%;
  font-size: 27px;
  text-overflow: ellipsis;
  width: 250px;
  overflow: hidden;
  white-space: nowrap;
}

.alert-message.color-green {
  color: #10397D;
}

.alert-message.color-red {
  color: #FF5353;
}

.alert-message.color-blue {
  color: #39AA9E;
}

.alert-message-dialog-icon {
  display: inline-block;
  width: 72px;
  min-width: 72px;
  max-width: 72px;
  height: 72px;
  min-height: 72px;
  max-height: 72px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #F8F8F8;
  margin-right: 1rem;
  border-radius: 50%;
}

.alert-message-dialog-icon.green {
  background-image: url("/assets/qlip_bussines_theme/icons/qlip-ok-icon.svg");
  background-size: 42px;
}

.alert-message-dialog-icon.red {
  background-image: url("/assets/qlip_bussines_theme/icons/qlip-x-icon.svg");
  background-size: 32px;
}

.alert-message-dialog-icon.blue {
  background-image: url("/assets/qlip_bussines_theme/icons/qlip-exclamation-icon.svg");
  background-size: 10px;
}

/* END TOASTER */

/* MODULES MENU */
.desk-container .desk-sidebar {
  display: none;
}

.desk-container .desk-body {
  padding-left: 0;
}

.qlip-navbar .desk-container .page-switcher {
  display: inline-flex;
  /* position: fixed;
  top: 20px;
  z-index: 2500;
  left: calc(50% - 380px); */
}

.qlip-navbar .desk-container .mobile-list {
  overflow-y: auto;
  height: 84vh;
  border-radius: 18px;
  border: 0;
  box-shadow: 0px 3px 6px #00000029;
}

.navbar-page-switcher .mobile-list {
  position: fixed;
  background-color: white;
}

.desk-container .desk-body .page-switcher {
  display: none;
}

/* .desk-container .mobile-list {
  width: 200px;
  left: calc(50% - 380px);
  z-index: 2500;
  position: fixed;
  background-color: white;
  overflow-y: scroll;
  height: 80vh;
} */
/* END MODULES MENU */