/* CHECKBOX */
input[type='checkbox']:before {
  font-size: 20px;
  color: #707070;
}

input[type='checkbox']:checked::before {
  font-size: 20px;
  color: #1e6491;
}

input[type='checkbox']:hover::before {
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 10px 7px rgb(227, 227, 227);
}

input[type='checkbox']:checked:hover::before {
  color: #1e6491;
  box-shadow: 0px 0px 10px 7px rgb(210, 222, 229);
}
/* END CHECKBOX */

/* LINKS */
a.link-content,
a.dropdown-toggle {
  color: #5d5d5d;
}

/* END LINKS */

/* BLUR */
.modal-open .modal {
  backdrop-filter: blur(9px);
}
.modal-backdrop {
  background-color: #1e6491;
}
.modal-open .modal-backdrop.in {
  opacity: 0.7;
  filter: brightness(0.5);
}
/* END BLUR */

/* BUTTON */
.btn {
  border-radius: 4px;
}
.btn:focus,
.btn:active:focus {
  outline: none;
  outline-offset: unset;
}

.btn-primary {
  background: transparent linear-gradient(180deg, #10397d 0%, #0f3249 100%);
  border-color: transparent;
}
.btn-primary:hover {
  background: transparent linear-gradient(178deg, #1e6491 0%, #0f3249 100%);
  border-color: transparent;
}

.btn-primary:active,
.btn-primary:focus {
  background: transparent linear-gradient(178deg, #1e6491 0%, #296a95 100%);
  border-color: transparent;
}

.btn-secondary,
.btn-default.btn-sm {
  color: #fff;
  background: transparent linear-gradient(180deg, #9ee1da 0%, #65c8bd 100%);
}
.btn-secondary:hover,
.btn-default.btn-sm:hover {
  color: #fff;
  background: transparent linear-gradient(182deg, #9ee1da 0%, #39aa9e 100%);
  border-color: transparent;
}

.btn-secondary:active,
.btn-secondary:focus,
.btn-default.btn-sm:active,
.btn-default.btn-sm:focus {
  color: #fff;
  background: transparent linear-gradient(182deg, #3cb9ac 0%, #2d8b81 100%);
  border-color: transparent;
}

.btn-primary.disabled,
.btn-primary:disabled,
.btn-secondary.disabled,
.btn-secondary:disabled,
.btn-default.btn-sm.disabled,
.btn-default.btn-sm:disabled {
  background: transparent linear-gradient(178deg, #e8e8e8 0%, #bbbbbb 100%);
  border-color: transparent;
}

.btn-default.btn-sm.btn-paging.btn-info {
  color: #fff;
  background: #8d99a6;
  border-color: #7f8c9b;
}
.btn-default.btn-sm.btn-paging {
  color: inherit;
  background: #f0f4f7;
  border-color: transparent;
}

/* END BUTTON */

/* HEADER */
.navbar-default {
  background: #ffffff;
  box-shadow: 0px 7px 21px #00000029;
  border-radius: 0px 0px 10px 10px;
  opacity: 1;
  border-color: transparent;
}

.navbar {
  min-height: 81px;
  display: flex;
  align-items: center;
}

.page-head {
  top: 81px;
}

.page-container {
  margin-top: 80px;
}

#page-desktop {
  margin-top: 2%;
}
.desk-container .desk-sidebar {
  top: 80px;
}

#page-desktop {
  margin-top: 2%;
}

.navbar .navbar-home img {
  min-width: 180px;
}

.app-logo-empresa img {
  margin-top: 3px;
}

@media (min-width: 768px) {
  .navbar > .container .navbar-brand.app-logo-empresa {
    margin-left: 7.091875rem;
    margin-right: 4.9375rem;
  }
}

.li-icon-user {
  color: #dcdcdc;
}

.qlip-icon {
  width: 26px;
  height: 26px;
}

.configuration, .user, .chat, .notification {
  margin-right: 3rem;
}

.chat, .user {
  padding: 8px 10px;
}

/* HEADER INPUT SEARCH */
#navbar-search {
  font-size: 14px;
  line-height: 16px;
  padding-left: 40px;
  /* max-width: 268px; */
  min-height: 42px;
  background: #F9F9F9 0% 0% no-repeat padding-box;
  color: #AEAEAE;
}

.navbar .navbar-search-icon {
  left: 12px;
  z-index: 2;
}
#navbar-search.form-control {
  border: 1px solid #E6E6E6;
  border-radius: 5px;
}
/* HEADER INPUT SEARCH */

/* END HEADER */

/* INPUT TEXT */
input[type]:not([type='button']):not([type='checkbox']):not([type='range']):not([type='submit']).form-control {
  border-radius: 10px;
  border: 1px solid #707070;
  
}

input[type]:not([type='button']):not([type='checkbox']):not([type='range']):not([type='submit']).form-control:hover,
input[type]:not([type='button']):not([type='checkbox']):not([type='range']):not([type='submit']).form-control:focus {
  border: 1px solid #1E6491;;
}

input[type]:not([type='button']):not([type='checkbox']):not([type='range']):not([type='submit']).form-control:disabled {
  border: 1px solid #CFCFCF;
}

/* END INPUT TEXT */


/* MODAL */
.modal-title{
  
  font-size: 24px;
  line-height: 29px;
  color: #1E6491;
}
.btn-modal-close, .btn-modal-close:hover, .btn-modal-close:active, .btn-modal-close:focus{
  background: #FFFFFF !important;;
  color: #0F3249 !important;
  border-color: transparent;
}
/* END MODAL */


/* BULLET */
.indicator.green::before, .indicator-right.green::after {
  background: #00D215;
}
.indicator.blue::before, .indicator-right.blue::after {
  background: #0B6DDC;
}
/* END BULLET */


/* FILTROS */
.page-form{
  background: #F2F6F8;
  border: 1px solid #CFCFCF;
  
}
.page-form input[type]:not([type='button']):not([type='checkbox']):not([type='range']):not([type='submit']).form-control,
.page-form input[type]:not([type='button']):not([type='checkbox']):not([type='range']):not([type='submit']).form-control:hover,
.page-form input[type]:not([type='button']):not([type='checkbox']):not([type='range']):not([type='submit']).form-control:focus{
  border: 1px solid #CFCFCF;
  border-radius: 3px;
}

.add-filter{
   
  background: transparent linear-gradient(180deg, #10397D 0%, #082453 100%);
  border-radius: 2px;
  color: #FFFFFF!important;
  font-size: 8px;
  line-height: 11px;
  padding: 7px 21px;
}

.tooltip-inner {
  background-color: #404040 !important;
}
.tooltip.top .tooltip-arrow {
  border-width: inherit;
}
.tooltip {
  font-size: 11px;
}

.awesomplete input[type]:not([type='button']):not([type='checkbox']):not([type='range']):not([type='submit']).form-control,
.awesomplete input[type]:not([type='button']):not([type='checkbox']):not([type='range']):not([type='submit']).form-control:hover,
.awesomplete input[type]:not([type='button']):not([type='checkbox']):not([type='range']):not([type='submit']).form-control:focus{
  border: 1px solid #CFCFCF;
  border-radius: 3px;
}

.input-area input[type]:not([type='button']):not([type='checkbox']):not([type='range']):not([type='submit']).form-control,
.input-area input[type]:not([type='button']):not([type='checkbox']):not([type='range']):not([type='submit']).form-control:hover,
.input-area input[type]:not([type='button']):not([type='checkbox']):not([type='range']):not([type='submit']).form-control:focus{
  border: 1px solid #CFCFCF;
  border-radius: 3px;
}

/* END FILTROS */


/* TABLE */
.list-subject .level-item {
  margin-right: 35px !important;
}

.level-left, .list-header-subject {
  color: #2F1335 !important;
  font-size: 17px !important;
  line-height: 19px !important;
}
span.level-item.ellipsis{
  color:#484848;
  font-size: 12px;
}
.indicator, .indicator-right {
  font-weight: normal;
  color:#484848;
}
.list-row-head {
  background-color: #F2F6F8 !important;
  border-bottom: 1px solid #DEDEDE !important;
}

.octicon-primitive-dot:before {
  font: normal normal normal 30px/1 octicons;
   color: #1E6491;
}

.layout-main-section {
  border: 1px solid #DEDEDE;
  border-left: 0;
  border-right: 0;
}

/* END TABLE */


/* TAGS */
.toggle-tag {
  background-color: #E1E4E8;
  border-radius: 15px;
  font-size: 14px;
  color: #606060;
  height: 30px;
}

.remove-tag {
  background-color: #E1E4E8;
  border-radius: 15px;
  font-size: 14px;
  height: 30px;
}

.remove-tag .fa-times-circle {
  width: 14px;
  height: 14px;
}

.remove-tag .text-muted {
  color: #676767 !important;
}

.tags-list-item .btn-group:hover .btn-default{
  background-color: #EEEEEE;
}
/* END TAGS */


/* ARBOL DE TRAZABILIDAD */
.timeline::before {
  
  border-left: 1px solid #1E6491 !important;
}

.timeline-item.notification-content::before {
 
  width: 10px;
  height: 10px;
  background-color: #1E6491 !important;
  left: 39px;
 }

.timeline-new-email::before, .timeline-email-import::before {
  width: 10px;
  height: 10px;
  background-color: #1E6491 !important;
  left: 39px;
}

.standard-image {
 
  border: 1px solid #1E6491 !important;
 
}

.timeline-head {
  border: 0;
}

.comment-input-header {
  border: 1px solid #C5C5C5;
  background: #FAFBFC;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.comment-input-container{
  border: 1px solid #C5C5C5;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.ql-bubble .ql-editor {
  border: 1px solid #C5C5C5;
  border-radius: 8px;
}

.btn-comment {
  background-color: #10397D;
  color: #ffff;
  font-size: 12px;
  padding: revert;
}

.timeline-item[data-communication-type="Comment"] .reply {
  background-color: #EEF4FF;
}

/* END ARBOL DE TRAZABILIDAD */


/* CARD MODULES */
.shortcut-widget-box {
  box-shadow: 0px 9px 10px #00000029;
  border-radius: 10px;
  border: 0;
  min-height: 69px;
}
.widget-title {
  font-size: 14px;
  font-weight: bold;
  line-height: 1em;
  color: #707070;
  margin-top: 0.5em;
  margin-left: 1.5em;
}

.links-widget-box {
  box-shadow: 0px 9px 10px #00000029;
  border-radius: 10px;
}
.links-widget-box .widget-head .widget-title {
  margin-left: 0.1em;
  font-size: 1em;
  line-height: 1.188em;
} 
/* END CARD MODULES */

/* FONT */

@font-face {
  font-family: 'Gotham Rounded Book';
  src: url('/assets/frappe/css/font/gotham-rounded/GothamRounded-BookItalic.eot');
  src: url('/assets/frappe/css/font/gotham-rounded/GothamRounded-BookItalic.eot?#iefix') format('embedded-opentype'),
      url('/assets/frappe/css/font/gotham-rounded/GothamRounded-BookItalic.woff2') format('woff2'),
      url('/assets/frappe/css/font/gotham-rounded/GothamRounded-BookItalic.woff') format('woff'),
      url('/assets/frappe/css/font/gotham-rounded/GothamRounded-BookItalic.ttf') format('truetype'),
      url('/assets/frappe/css/font/gotham-rounded/GothamRounded-BookItalic.svg#GothamRounded-BookItalic') format('svg');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham Rounded';
  src: url('/assets/frappe/css/font/gotham-rounded/GothamRounded-Medium.eot');
  src: url('/assets/frappe/css/font/gotham-rounded/GothamRounded-Medium.eot?#iefix') format('embedded-opentype'),
      url('/assets/frappe/css/font/gotham-rounded/GothamRounded-Medium.woff2') format('woff2'),
      url('/assets/frappe/css/font/gotham-rounded/GothamRounded-Medium.woff') format('woff'),
      url('/assets/frappe/css/font/gotham-rounded/GothamRounded-Medium.ttf') format('truetype'),
      url('/assets/frappe/css/font/gotham-rounded/GothamRounded-Medium.svg#GothamRounded-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham Rounded';
  src: url('/assets/frappe/css/font/gotham-rounded/GothamRounded-Bold.eot');
  src: url('/assets/frappe/css/font/gotham-rounded/GothamRounded-Bold.eot?#iefix') format('embedded-opentype'),
      url('/assets/frappe/css/font/gotham-rounded/GothamRounded-Bold.woff2') format('woff2'),
      url('/assets/frappe/css/font/gotham-rounded/GothamRounded-Bold.woff') format('woff'),
      url('/assets/frappe/css/font/gotham-rounded/GothamRounded-Bold.ttf') format('truetype'),
      url('/assets/frappe/css/font/gotham-rounded/GothamRounded-Bold.svg#GothamRounded-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham Rounded';
  src: url('/assets/frappe/css/font/gotham-rounded/GothamRounded-BoldItalic.eot');
  src: url('/assets/frappe/css/font/gotham-rounded/GothamRounded-BoldItalic.eot?#iefix') format('embedded-opentype'),
      url('/assets/frappe/css/font/gotham-rounded/GothamRounded-BoldItalic.woff2') format('woff2'),
      url('/assets/frappe/css/font/gotham-rounded/GothamRounded-BoldItalic.woff') format('woff'),
      url('/assets/frappe/css/font/gotham-rounded/GothamRounded-BoldItalic.ttf') format('truetype'),
      url('/assets/frappe/css/font/gotham-rounded/GothamRounded-BoldItalic.svg#GothamRounded-BoldItalic') format('svg');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham Rounded';
  src: url('/assets/frappe/css/font/gotham-rounded/GothamRounded-LightItalic.eot');
  src: url('/assets/frappe/css/font/gotham-rounded/GothamRounded-LightItalic.eot?#iefix') format('embedded-opentype'),
      url('/assets/frappe/css/font/gotham-rounded/GothamRounded-LightItalic.woff2') format('woff2'),
      url('/assets/frappe/css/font/gotham-rounded/GothamRounded-LightItalic.woff') format('woff'),
      url('/assets/frappe/css/font/gotham-rounded/GothamRounded-LightItalic.ttf') format('truetype'),
      url('/assets/frappe/css/font/gotham-rounded/GothamRounded-LightItalic.svg#GothamRounded-LightItalic') format('svg');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham Rounded Book';
  src: url('/assets/frappe/css/font/gotham-rounded/GothamRounded-Book.eot');
  src: url('/assets/frappe/css/font/gotham-rounded/GothamRounded-Book.eot?#iefix') format('embedded-opentype'),
      url('/assets/frappe/css/font/gotham-rounded/GothamRounded-Book.woff2') format('woff2'),
      url('/assets/frappe/css/font/gotham-rounded/GothamRounded-Book.woff') format('woff'),
      url('/assets/frappe/css/font/gotham-rounded/GothamRounded-Book.ttf') format('truetype'),
      url('/assets/frappe/css/font/gotham-rounded/GothamRounded-Book.svg#GothamRounded-Book') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham Rounded';
  src: url('/assets/frappe/css/font/gotham-rounded/GothamRounded-Light.eot');
  src: url('/assets/frappe/css/font/gotham-rounded/GothamRounded-Light.eot?#iefix') format('embedded-opentype'),
      url('/assets/frappe/css/font/gotham-rounded/GothamRounded-Light.woff2') format('woff2'),
      url('/assets/frappe/css/font/gotham-rounded/GothamRounded-Light.woff') format('woff'),
      url('/assets/frappe/css/font/gotham-rounded/GothamRounded-Light.ttf') format('truetype'),
      url('/assets/frappe/css/font/gotham-rounded/GothamRounded-Light.svg#GothamRounded-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham Rounded';
  src: url('/assets/frappe/css/font/gotham-rounded/GothamRounded-MediumItalic.eot');
  src: url('/assets/frappe/css/font/gotham-rounded/GothamRounded-MediumItalic.eot?#iefix') format('embedded-opentype'),
      url('/assets/frappe/css/font/gotham-rounded/GothamRounded-MediumItalic.woff2') format('woff2'),
      url('/assets/frappe/css/font/gotham-rounded/GothamRounded-MediumItalic.woff') format('woff'),
      url('/assets/frappe/css/font/gotham-rounded/GothamRounded-MediumItalic.ttf') format('truetype'),
      url('/assets/frappe/css/font/gotham-rounded/GothamRounded-MediumItalic.svg#GothamRounded-MediumItalic') format('svg');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

body {
  font-family: "Gotham Rounded", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

/* END FONT */